/* Reusable classes */
.flex { display: flex; }
.horizontal { flex-direction: row; }
.vertical { flex-direction: column; }
.center { align-items: center; justify-content: center; }
.start { justify-content: flex-start; }
.end { justify-content: flex-end; }
.space-evenly { justify-content: space-evenly; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }
.top { top: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
.right { right: 0; }
.white { color: white; }
.black { color: black; }
.bg-transparent { background-color: transparent; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }


html { height: 100%; }

@font-face {
    font-family: type-writer;
    src: url(/fonts/SpecialElite.ttf)
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    font-family: type-writer;
}

header {
    background-color: #202020;
    color: white;



    height: 2.5rem;
    width: 100%;
    padding-top: .5rem;
    justify-content: baseline;
}

.nav-container {
    align-items: center;
    z-index: 100;
    width: 100%;
    
    padding: 1rem;
    box-sizing: border-box;
    color: white;
    transition: 0.3s ease-in-out; 

}

main {
    background-color: #252525;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.nav-button {
    text-decoration: none;
}

.right-nav {
    right: 0;
}

/** HERO **/
.hero-image {
    background-image: url(/imgs/on-stage.jpg);
    position: fixed;
    height: 100%;
    width: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

/*
    display: inline-block;

    right: 0;
    top: 0;
    min-width: 100%;

    z-index: 10;
*/
}

.header-image:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0rem 10rem 5rem -2rem white, inset 0 0rem 0rem 0rem white;

    top: 0;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.hero-button {
    background-color: rgba(37, 37, 37, .8);
    color: white;
    border-radius: 25px;
    padding: .7rem .9rem .5rem .9rem;
    border: solid 2px white;


    font-family: type-writer;
    font-size: 1.2rem;
    text-transform: uppercase;
}