@media (max-width: 40em) {

    .nav-container {
        padding: 1rem;
    }


    .page-image {    
    object-position: center;
    }
  

    .mid-nav {
    display: none;
    }

    .dice {
    height: 2.5rem;
    right: 0;
    }

    .hiddenDesktop {
    display: block;
    }

}