@media (max-width: 40em) {

    .nav-container {
        padding: 1rem;
    }


    .page-image {    
    object-position: center;
    }
  

    .mid-nav {
    display: none;
    }

    .dice {
    height: 2.5rem;
    right: 0;
    }

    .hiddenDesktop {
    display: block;
    }

    .paintings {
        height: auto;
        width: 80vw;
        
    
        border: solid 2px white;
        margin: 1rem 0 0 0;
    }



}